body {
    background-image: url("../img/vintage-sunset-background.png");
    background-size: cover;
}

.title {
    color: black;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.results-display {
    color: black;
    text-align: center;
}

#puzzle {
    margin: 0 auto;
    height: 450px;
    width: 450px;
    border: 5px solid black;
}

#puzzle input {
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    border-spacing: 0;
    border: 1px solid gray;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#solve-button {
    height: 50px;
    width: 150px;
    margin: 20px auto;
    display: block;
    color: black;
    font-size: 30px;
    border: 3px solid black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

